.nav-wrapper {
background-image: url("../images/diagonal-squares.png") !important;
background-size: repeat;
}

body {
    background-image: url("../images/circuit.png");
}

#loadCont {
    margin-top: 1vh !important;
    background: radial-gradient(circle at 100%, #333, #333 50%, #eee 75%, #333 75%);
    border-radius: 15px;
    border: 1px black solid;
    box-shadow: .5vw 1vh 3px black;
}

#userPicker {
    box-sizing: inherit;
    background: linear-gradient(to right, white 0%, rgba(200, 200, 200, 0.7) 30%, rgba(100, 100, 100, 0.7) 80%);
    border-radius: 5px;
}
#imageUpload {
    padding: 0px 1vw 0px 1vw;
}

#submit {
    box-shadow: 1px 1px 3px white;
}

#p1Cont, #p2Cont {
    width: 25vw;
    height: 125vh;
    background-color: grey;
}

#p1Cont {
    float: left;
    box-shadow: .5vw 0vh 2px black;

}
#p2Cont {
    float: right;
    box-shadow: -.5vw 0vh 2px black;

}

.usernames {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
    text-align: center;
    text-decoration: antiquewhite;
}

.modal-content>.material-icons {
    cursor: pointer;
}

#p1icon, #p2icon {
   padding: 0 0 0 5vw !important;
    font-size: 15em;
    color: black;
    text-shadow: 1px 1px 3px white;
}

#game {
    display: none;
    position: absolute;
    top: 20vh;
    left: 27.5vw;
    width: 45vw;
    height: 45vh;
    border-radius: 15px;
    border: solid 2px black;
    background-image: url("../images/daily-ui-059-background-pattern-large.png")
}

.pick {
    position: relative; 
    padding: 0 auto !important;
    width: 7vw !important;
    height: 7vh !important;
}

.rpsicons {
    height: 6vh !important;
    width: 6vw !important;
    padding-top: 1vh !important;
    padding-right: 1vw !important;
}