.nav-wrapper {
background-image: url("../images/diagonal-squares.png") !important;
background-size: repeat;
}

body, html {
    background-image: url("../images/circuit.png");
}

#loadCont {
    margin-top: 1vh !important;
    background: radial-gradient(circle at 100%, #333, #333 50%, #eee 75%, #333 75%);
    border-radius: 15px;
    border: 1px black solid;
    box-shadow: .5vw 1vh 3px black;
}

#userPicker {
    box-sizing: inherit;
    background: linear-gradient(to right, white 0%, rgba(200, 200, 200, 0.7) 30%, rgba(100, 100, 100, 0.7) 80%);
    border-radius: 5px;
}
#imageUpload {
    padding: 0px 1vw 0px 1vw;
}

#submit {
    box-shadow: 1px 1px 3px white;
}