.nav-wrapper {
background-image: url("../images/4k-wallpaper-architecture-background-1308624.jpg") !important;
background-size: repeat;
}

body {
    background-image: url("../images/antique-backdrop-background-129731.jpg");
}

#loadCont {
    margin-top: 1vh !important;
    background: radial-gradient(circle at 100%, rgba(145, 2, 2, 0.6), rgb(122, 42, 42) 50%, rgb(214, 132, 24) 75%, rgba(255, 255, 255, 0.9) 80%, rgba(129, 42, 7, 0.8) 75%);
    border-radius: 15px;
    border: 1px black solid;
    box-shadow: .5vw 1vh 3px rgb(61, 13, 13);
}

#userPicker {
    box-sizing: inherit;
    background: linear-gradient(to right, white 0%, rgba(199, 108, 23, 0.7) 30%, rgba(65, 20, 0, 0.7) 50%, rgba(145, 2, 2, 0.6));
    border-radius: 5px;
}
#imageUpload {
    padding: 0px 1vw 0px 1vw;
}

#submit, #iconsBtn  {
    box-shadow: 0px 0px 4px white;
    background-color: rgba(231, 147, 38, 0.822) !important;
    color: rgba(150, 17, 0, 0.884) !important;
}
#resetdata {
    box-shadow: 0px 0px 4px white;
background-color: rgba(8, 0, 78, 0.884) !important;
}

#p1Cont, #p2Cont {
    width: 25vw;
    height: 125vh;
    background-color: rgba(200, 200, 200, 0.6);
}

#p1Cont {
    float: left;
    box-shadow: .5vw 0vh 2px black;

}
#p2Cont {
    float: right;
    box-shadow: -.5vw 0vh 2px black;

}

.usernames {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
    text-align: center;
    text-decoration: antiquewhite;
}

.modal-content>.material-icons {
    cursor: pointer;
}

#p1icon, #p2icon {
   padding: 0 0 0 5vw !important;
    font-size: 15em;
    color: black;
    text-shadow: 1px 1px 3px white;
}

#game {
    display: none;
    position: absolute;
    top: 20vh;
    left: 27.5vw;
    width: 45vw;
    height: 45vh;
    border-radius: 15px;
    border: solid 2px black;
    background-image: url("../images/daily-ui-059-background-pattern-large.png")
}

.pick {
    position: relative; 
    padding: 0 auto !important;
    width: 7vw !important;
    height: 7vh !important;
}

.rpsicons {
    height: 6vh !important;
    width: 6vw !important;
    padding-top: 1vh !important;
    padding-right: 1vw !important;
}

#readyPlayerOne, #readyPlayerTwo {
    text-align: center;
    margin: 5vh 0 0 10vw !important;
}

.pulsing {
    -webkit-animation: pulser 5s infinite; /* Safari 4+ */
    -moz-animation:    pulser 5s infinite; /* Fx 5+ */
    -o-animation:      pulser 5s infinite; /* Opera 12+ */
    animation:         pulser 5s infinite; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes pulser {
    0%, 100%   { 
        opacity: 0.6;
        background-color: white
     }
    50% { opacity: 1;
            background-color: red }
  }
  @-moz-keyframes pulser {
    0%, 100%   { 
        opacity: 0.6;
        background-color: white
     }
    50% { opacity: 1;
            background-color: red }
  }
  @-o-keyframes pulser {
    0%, 100%   { 
        opacity: 0.6;
        background-color: white
     }
    50% { opacity: 1;
            background-color: red }
  }
  @keyframes pulser {
    0%, 100%   { 
        opacity: 0.6;
        background-color: white
     }
    50% { opacity: 1;
            background-color: red }
  }